body{
	background-color: grey;
}
#header {
	height:auto;
	width:auto;
	text-align: center;
}


#canvas {
	margin-left: 225px;
}

.row {
	width:auto;
	height:auto;
	margin-left:225px;
}
#letter_box_container{
height:auto;
width:auto;
margin:50px auto 50px auto;

}
.letter_box{
	background-color: #fff;
	display:inline-block;
	height:40px;
	width:40px;
	border:2px solid black;
	border-radius:30%;
	margin:8px;
	text-align: center;

}
#solution{
	width:560px;
	height:100px;
	float:right;
	margin-right: 100px;
	margin-top: 200px;

	}
.solution_letters{
	float:left;
	display:inline-block;
	margin-left: 15px;
	font-size: 72px;
}
