body{
	background-color: grey;
}

#header {
	height:auto;
	width:auto;
	background-color:blue;
	text-align: center;
}


#canvas {
	margin-left:530px;
	border:2px solid black;
	background-color: #ddd;
}

.row {
	width:auto;
	height:auto;
	margin-left:225px;
}
#letter_box_container{
height:auto;
width:auto;
margin:50px auto 50px auto;

}
.letter_box{
	background-color: #fff;
	display:inline-block;
	height:40px;
	width:40px;
	border:2px solid black;
	border-radius:30%;
	margin:8px;
	text-align: center;

}

.array,
.loop,
.function,
.scope{
	display:inline-block;
	height:30px;
	width:30px;
	padding-bottom:10px;
	text-align: center;
	border-bottom:2px solid black;
	margin-left:5px;
	opacity: 0;
}
.solution{
	height:30px;
	width:400px;
	float:left;
	position:absolute;
	left:475px;
	margin-bottom:20px;
	

}
#array{
	left:530px;
}
#loop{
	left:550px;
}
#function{
	left:475px;
}
#scope{
	left:530px;
}
#solution_row{
	width:auto;
	height:auto;
	position:relative;
}